:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-fam: var(--font-inconsolata);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
 font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inconsolata), ui-monospace, SFMono-Regular, Menlo, Monaco, monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.page {
  /* width: 100vw;
  max-width: 100vw; */
  min-height: 100vh;
  padding: 2rem 0;
  background-image: url(/images/background-desktop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
  position: relative;

}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
  /* min-height: 100vh;
  width: 100%; */
}
.main{
  position: static;
  z-index: 20;
  width: 100%;
  max-width: 50%;
  margin: 1.7rem auto;
}
.patternLine{
 /* position: absolute;
  inset: 0;                
  background-image: url('/images/pattern-lines.svg');
  background-repeat: repeat;
  background-size: auto; 
  z-index: 0;            
  pointer-events: none; */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;          /* or a percentage of the parent if parent has height */
  background-image: url('/images/pattern-lines.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.patternCircle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(50%);
  width: 200px;
  height: 200px;
  background-image: url('/images/pattern-circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
.patternSquiggleTop{
  position: absolute;
  top: 50px;
  right: 0;
  width: 250px;
  height: 150px;
  background-image: url('/images/pattern-squiggly-line-top.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
.patternSquiggleBottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: url('/images/pattern-squiggly-line-bottom-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
.title{
  font-size: 2.8rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.description{
  font-size: 1.1rem;
  color: var(--Neutral-300);
  text-align: center;
}
 
@media screen and (max-width: 987px) {
  .main{
     width: 100%;
  max-width: 70%;
  }
  
}
@media screen and (max-width: 701px) {
  .main{
     width: 100%;
  max-width: 80%;
  }
  .page {
  background-image: url(/images/background-tablet.png);
}
  
}
@media screen and (max-width: 614px) {
  .main{
     width: 100%;
  max-width: 90%;
  }
  
}
@media screen and (max-width: 541px) {
  .main{
     width: 100%;
  max-width: 95%;
  }
}
@media screen and (max-width: 514px) {
  .main{
     width: 100%;
  max-width: 95%;
  }
  
}

@media screen and (max-width: 410px) {
    .page {
  background-image: url(/images/background-mobile.png);
}
  .main{
     width: 100%;
     max-width: 95%;
  }
 
}
  

@media screen and (max-width: 620px) {
  .patternSquiggleTop{
  position: absolute;
  top: 30px;
  right: 0;
  width: 100px;
  height: 100px;
  background-image: url('/images/pattern-squiggly-line-top.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
.patternSquiggleBottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: url('/images/pattern-squiggly-line-bottom-mobile-tablet.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
}

@media screen and (max-width: 430px) {
.patternSquiggleBottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 220px;
  background-image: url('/images/pattern-squiggly-line-bottom-mobile-tablet.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
}